/* GENERAL */
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-around {
    justify-content: space-around;
}
.justify-between {
    justify-content: space-between;
}
.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.align-stretch {
    align-items: stretch;
}
.align-baseline {
    align-items: baseline;
}
.w100 {
    width: 100%;
}
.w70 {
    width: 70%;
}
.w30 {
    width: 30%;
}
#menu {
    min-width: 320px;
    max-width: 1080px;
}
.text {
    text-align: center;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}